$color-beige: #FFF1BD;
$color-tan: #F3C892;
$color-lightgreen: #A3DA8D;
$color-darkgreen: #146356;

#content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#controls {
    display: flex;
    justify-content: center;
}

#add-list-button {
    width: 125px;
    height: 50px;
    background-color: $color-darkgreen;
    border: 2px solid black;
    border-radius: 15px;
    font-weight: 900;

    &:hover {
        cursor: pointer;
    }
}

.list-container {
    border: 2px solid black;
    border-radius: 25px;
    width: 300px;
    height: auto;
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-beige;
    form {
        width: 90%;
        margin-bottom: 10px;

        .task-input {
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: 1px solid black;
            width: 100%;
            background-color: $color-beige;
            &:focus {
                outline: none;
            }
        }
    }
}

.list {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
}

.task {
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    line-height: 25px;
    &:hover {
        cursor: pointer;
    }
}

.finished {
    text-decoration: line-through;
    color: white;
    font-style: italic;
    background-color: $color-lightgreen;
}

.unfinished {
    text-decoration: none;
    color: black;
    font-style: normal;
    font-weight: bold;
}

.list-title {
    font-size: 20px;
    font-weight: bold;
    border: none;
    text-align: center;
    background-color: $color-beige;
    &::placeholder {
        color: black;
    }

    &:focus::placeholder {
        color: transparent;
    }
}

body {
    background-color: $color-tan;
}

