$color-beige: #FFF1BD;
$color-tan: #F3C892;
$color-lightgreen: #A3DA8D;
$color-darkgreen: #146356;

*{
    margin: 0px;
    padding: 0px;
}

#content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 16px;
}

#controls {
    display: flex;
    justify-content: center;
}

.list-container {
    border: 2px solid black;
    border-radius: 25px;
    width: 300px;
    height: auto;
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-beige;
    form {
        width: 90%;
        margin-bottom: 10px;

        .task-input {
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: 1px solid black;
            width: 100%;
            background-color: $color-beige;
            &:focus {
                outline: none;
            }
        }
    }
}

.list {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
}

.task {
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    line-height: 25px;
    &:hover {
        cursor: pointer;
    }
}

.finished {
    text-decoration: line-through;
    color: white;
    font-style: italic;
    background-color: $color-lightgreen;
}

.unfinished {
    text-decoration: none;
    color: black;
    font-style: normal;
    font-weight: bold;
}

.list-title {
    font-size: 20px;
    font-weight: bold;
    border: none;
    text-align: center;
    background-color: $color-beige;
    &::placeholder {
        color: black;
    }

    &:focus::placeholder {
        color: transparent;
    }
}

body {
    background-color: $color-tan;
    margin: 0;
}

.brand-logo {
    width: 40px;
    height: 40px;
}

.brand-name {
    margin-left: 5px;
    color: white;
    font-weight: 700;
}

.nav-brand {
    display: flex;
    align-items: center;
    border-right: 2px solid black;
    width: min-content;
    height: 100%;
    padding-right: 20px;
}

.nav-control {
    height: 100%;
    border-right: 2px solid black;
    width: 120px;
    text-align: center;

    &:hover {
        background-color: #1b9b86;
    }
    button {
        height: inherit;
        background-color: transparent;
        border: none;
        color: white;
        font-weight: 700;
        padding: 0px 5px;

        &:hover {
            cursor: pointer;
        }
    }
}

header {
    height: 60px;
}

nav {
    background-color: $color-darkgreen;
    border: 2px solid black;
    padding: 2px 5px;
    display: flex;
    align-items: center;
    height: 50px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

