* {
  margin: 0px;
  padding: 0px;
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 16px;
}

#controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-container {
  border: 2px solid black;
  border-radius: 25px;
  width: 300px;
  height: auto;
  padding: 10px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF1BD;
}

.list-container form {
  width: 90%;
  margin-bottom: 10px;
}

.list-container form .task-input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid black;
  width: 100%;
  background-color: #FFF1BD;
}

.list-container form .task-input:focus {
  outline: none;
}

.list {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
}

.task {
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  line-height: 25px;
}

.task:hover {
  cursor: pointer;
}

.finished {
  text-decoration: line-through;
  color: white;
  font-style: italic;
  background-color: #A3DA8D;
}

.unfinished {
  text-decoration: none;
  color: black;
  font-style: normal;
  font-weight: bold;
}

.list-title {
  font-size: 20px;
  font-weight: bold;
  border: none;
  text-align: center;
  background-color: #FFF1BD;
}

.list-title::-webkit-input-placeholder {
  color: black;
}

.list-title:-ms-input-placeholder {
  color: black;
}

.list-title::-ms-input-placeholder {
  color: black;
}

.list-title::placeholder {
  color: black;
}

.list-title:focus::-webkit-input-placeholder {
  color: transparent;
}

.list-title:focus:-ms-input-placeholder {
  color: transparent;
}

.list-title:focus::-ms-input-placeholder {
  color: transparent;
}

.list-title:focus::placeholder {
  color: transparent;
}

body {
  background-color: #F3C892;
  margin: 0;
}

.brand-logo {
  width: 40px;
  height: 40px;
}

.brand-name {
  margin-left: 5px;
  color: white;
  font-weight: 700;
}

.nav-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 2px solid black;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 100%;
  padding-right: 20px;
}

.nav-control {
  height: 100%;
  border-right: 2px solid black;
  width: 120px;
  text-align: center;
}

.nav-control:hover {
  background-color: #1b9b86;
}

.nav-control button {
  height: inherit;
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 700;
  padding: 0px 5px;
}

.nav-control button:hover {
  cursor: pointer;
}

header {
  height: 60px;
}

nav {
  background-color: #146356;
  border: 2px solid black;
  padding: 2px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
/*# sourceMappingURL=style.css.map */